.primary-color {
    color: #F948B2;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}

.gradient-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.primary-btn {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: white;
    padding: 15px 40px;
    border: none;
}

.secondary-btn {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 20px 40px;
    border: none;
}

.title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;


}

.description {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
}

/* start nav */
nav {
    max-width: 1100px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 20px;

}

.nav-title img {
    width: 100px;
}

.nav-icon img {
    width: 30px;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 2px 25px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-items li {
    list-style: none;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 500;

}

.banner-container {
    height: 500px;
    position: relative;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.banner-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 500px;
}

#bnr-img {
    width: 500px;

}

.banner-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0px;

}

#banner-gradient {
    font-family: Work Sans;
    font-size: 4.5rem;
    font-weight: 800;
    margin: 0px;

}

.banner-description {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;

}

.video-section {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
}

.video-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.funny-img {
    width: 258px;
    height: 280px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.funny-img img {
    width: 100%;
    border-radius: 10px;
}

.funny-img p {
    text-align: left;

}

.online-game-container {
    max-width: 1100px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 100px;
}

.img-icon {}

.online-game-first-img {
    width: 520px;
    position: relative;


}

.online-game-second-img {
    position: absolute;
    bottom: -35px;
    left: 350px;
}

.online-game-info {
    width: 350px;
}

.click-section {
    max-width: 1100px;

}

.click-container {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0px 15px;
    margin-top: 20px;
}

.click-container:hover {
    border: 2px solid #884245;
    cursor: pointer;
    border-radius: 50px;


}

.game-name {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.game-icon {
    width: 50px;
    height: 50px;
    /* border-radius: 50px; */
}

.click-section {
    display: flex;
    justify-content: center;
    gap: 5x;
    flex-wrap: wrap;
    margin: 0px auto;
    padding;
}

footer {
    background-color: #0B0223;
    margin-top: 100px;
}

.white-color {
    color: white;
}

.footer-title {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
}

.footer-title img {
    width: 80px;
}

.our-facilities {
    color: white;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 50px 0;
}

.social-media-icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0 50px 0;
}

.social-media-icon img {
    width: 40px;
    color: #FFF;
    background-color: #0B0223;
}

.website-features {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;

}
.copyright-symbol{
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 100px;
}
/* Media query for mobile large device */
@media screen and (max-width: 576px) {

    title {
        color: #0B0223;
        font-family: Work Sans;
        font-size: 2rem;
        font-weight: 600;
        margin: 0;


    }

    .description {
        color: #534C64;
        font-family: Work Sans;
        font-size: 14px;
        font-weight: 400;
        padding: 0;
    }

    .nav-items {
        flex-direction: column;
    }

    nav {
        width: 100%;
        margin: 10px;
        flex-direction: column;
    }

    .banner-container {
        height: 500px;
        position: relative;
        padding: 20px;
        flex-direction: column;
        gap: 100px;
        align-items: center;
        background: #FFF;
        box-shadow: none;
    }

    .banner-bg {
        position: absolute;
        top: 0;
        width: 90%;
        height: 400px;
        margin-left: 20px;
    }

    #bnr-img {
        width: 300px;

    }

    .banner-title {
        color: #0B0223;
        font-family: Work Sans;
        font-size: 2rem;
        font-weight: 600;
        margin-top: 35px;

    }

    #banner-gradient {
        font-family: Work Sans;
        font-size: 3.5rem;
        font-weight: 800;
        margin: 0px;

    }

    .banner-description {
        color: #534C64;
        font-family: Work Sans;
        font-size: 1rem;
        font-weight: 500;

    }

    .video-section {
        margin-top: 250px;
    }

    .video-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;

    }

    .title {
        font-size: 2rem;

    }

    .online-game-container {
        max-width: 500px;
        flex-direction: column-reverse;
        gap: 50px;


    }

    .online-game-first-img {
        width: 250px;
        padding-right: 70px;



    }

    .online-game-second-img {
        width: 150px;
        bottom: 35px;
        left: 220px;

    }

    .online-game-img {
        margin: ;

    }

    .online-game-info {
        width: 350px;
        text-align: center;

    }

    .click-section {
        gap: 0;

    }

    .game-name {
        font-size: 14px;
        font-weight: 500;
    }

    .game-icon {
        width: 30px;
        height: 30px;
    }
}

/* media query for tablet or medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        flex-direction: column;
    }

    .banner-container {
        height: 500px;
        position: relative;
        padding: 50px;
        margin: 100px 0;
        flex-direction: column;
        gap: 50px;
        align-items: center;

        box-shadow: none;
    }

    .banner-bg {
        position: absolute;
        left: 50px;
        top: 0;
        height: 400px;
        width: 80%;
    }

    #bnr-img {
        width: 500px;

    }

    .video-section {
        margin-top: 330px;
    }

    .video-container {
        flex-direction: column;
        align-items: center;
        gap: 130px;

    }

    .online-game-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .online-game-first-img {
        width: 450px;
        margin: 0;
        padding: 0;
    }

    .online-game-second-img {
        width: 200px;
        margin: 0;
        padding: 0;
        left: 500px;
        bottom: 20px;
    }

    .online-game-info {
        width: 500px;
        text-align: center;
    }
}